databases:
- name: posthog
  databaseName: posthog
  user: posthog
  plan: basic-1gb # PostHog can quickly use up hundreds of MBs of disk space, depending on the volume of analytics
  diskSizeGB: 20
  postgresMajorVersion: "14"

services:
- type: web
  name: posthog
  runtime: docker
  plan: standard
  dockerfilePath: ./server/Dockerfile
  dockerContext: ./server
  autoDeploy: false
  envVars:
  - key: IS_BEHIND_PROXY
    value: 1
  - key: IS_DOCKER
    value: true
  - key: POSTHOG_REDIS_HOST
    fromService:
      name: posthog-redis
      type: pserv
      property: host
  - key: POSTHOG_REDIS_PORT
    fromService:
      name: posthog-redis
      type: pserv
      property: port
  - key: DATABASE_URL
    fromDatabase:
      name: posthog
      property: connectionString
  - key: SECRET_KEY
    generateValue: true
  - key: DEPLOYMENT
    value: render
  - key: SKIP_SERVICE_VERSION_REQUIREMENTS
    value: "1"
  - key: CLICKHOUSE_HOST
    value: posthog-clickhouse
  - key: CLICKHOUSE_DATABASE
    value: posthog
  - key: CLICKHOUSE_USER
    value: posthog
  - key: CLICKHOUSE_PASSWORD
    value: posthog
  - key: CLICKHOUSE_API_USER
    value: posthog
  - key: CLICKHOUSE_API_PASSWORD
    value: posthog
  - key: CLICKHOUSE_APP_USER
    value: posthog
  - key: CLICKHOUSE_APP_PASSWORD
    value: posthog
  - key: KAFKA_HOSTS
    value: posthog-kafka:9092

- type: pserv
  name: posthog-redis
  runtime: docker
  plan: standard
  autoDeploy: false
  repo: https://github.com/render-examples/redis.git
  disk:
    name: data
    mountPath: /var/lib/redis
    sizeGB: 10

- type: worker
  name: posthog-worker
  runtime: docker
  plan: standard
  dockerfilePath: ./worker/Dockerfile
  dockerContext: ./worker
  numInstances: 1
  autoDeploy: false
  envVars:
  - key: POSTHOG_REDIS_HOST
    fromService:
      name: posthog-redis
      type: pserv
      property: host
  - key: POSTHOG_REDIS_PORT
    fromService:
      name: posthog-redis
      type: pserv
      property: port
  - key: DATABASE_URL
    fromDatabase:
      name: posthog
      property: connectionString
  - key: IS_DOCKER
    value: true
  - key: SECRET_KEY
    generateValue: true
  - key: DEPLOYMENT
    value: render
  - key: SKIP_SERVICE_VERSION_REQUIREMENTS
    value: "1"
  - key: CLICKHOUSE_HOST
    value: posthog-clickhouse
  - key: CLICKHOUSE_DATABASE
    value: posthog
  - key: CLICKHOUSE_USER
    value: posthog
  - key: CLICKHOUSE_PASSWORD
    value: posthog
  - key: CLICKHOUSE_API_USER
    value: posthog
  - key: CLICKHOUSE_API_PASSWORD
    value: posthog
  - key: CLICKHOUSE_APP_USER
    value: posthog
  - key: CLICKHOUSE_APP_PASSWORD
    value: posthog
  - key: KAFKA_HOSTS
    value: posthog-kafka:9092

- type: worker
  name: posthog-plugin-server
  runtime: docker
  plan: standard
  dockerfilePath: ./plugin-server/Dockerfile
  dockerContext: ./plugin-server
  numInstances: 1
  autoDeploy: false
  envVars:
  - key: POSTHOG_REDIS_HOST
    fromService:
      name: posthog-redis
      type: pserv
      property: host
  - key: POSTHOG_REDIS_PORT
    fromService:
      name: posthog-redis
      type: pserv
      property: port
  - key: DATABASE_URL
    fromDatabase:
      name: posthog
      property: connectionString
  - key: DEPLOYMENT
    value: render
  - key: SKIP_SERVICE_VERSION_REQUIREMENTS
    value: "1"
  - key: CLICKHOUSE_HOST
    value: posthog-clickhouse
  - key: CLICKHOUSE_DATABASE
    value: posthog
  - key: CLICKHOUSE_USER
    value: posthog
  - key: CLICKHOUSE_PASSWORD
    value: posthog
  - key: CLICKHOUSE_API_USER
    value: posthog
  - key: CLICKHOUSE_API_PASSWORD
    value: posthog
  - key: CLICKHOUSE_APP_USER
    value: posthog
  - key: CLICKHOUSE_APP_PASSWORD
    value: posthog
  - key: KAFKA_HOSTS
    value: posthog-kafka:9092

- type: pserv
  name: posthog-zookeeper
  runtime: docker
  plan: standard
  dockerfilePath: ./zookeeper/Dockerfile
  dockerContext: .
  disk:
    name: zookeeper-data
    mountPath: /data
    sizeGB: 10

- type: pserv
  name: posthog-kafka
  runtime: docker
  plan: standard
  dockerfilePath: ./kafka/Dockerfile
  dockerContext: .
  startCommand: redpanda start --mode dev-container --kafka-addr internal://0.0.0.0:9092 --advertise-kafka-addr internal://posthog-kafka:9092
  disk:
    name: kafka-data
    mountPath: /var/lib/redpanda/data
    sizeGB: 10

- type: pserv
  name: posthog-clickhouse
  runtime: docker
  plan: standard
  dockerfilePath: ./clickhouse/Dockerfile
  dockerContext: .
  disk:
    name: clickhouse-data
    mountPath: /var/lib/clickhouse
    sizeGB: 20
  envVars:
  - key: CLICKHOUSE_DB
    value: posthog
  - key: CLICKHOUSE_USER
    value: posthog
  - key: CLICKHOUSE_PASSWORD
    value: posthog
  - key: CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT
    value: "1"
